<%= content_for :title  do %>
  Forgot your password?
<% end %>

<%= render "devise/shared/error_messages", resource: resource %>

<main class="form-forgot w-100 m-auto">
  <div class="card login-card">
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= image_tag('ouro_logo_dark.svg', class: 'mb-2', width: '72') %>
        <h1 class="login-card-header mb-4 fw-normal">Forgot your password?</h1>

        <div class="form-floating">
          <%= f.email_field :email, autocomplete: "email", class: "form-control mb-4", placeholder: "name@example.com" %>
          <%= f.label :email, "Email address" %>
        </div>

        <%= button_tag(type: "submit", class: "w-100 btn btn-lg btn-primary btn-signin mb-3") do %>
          <i class="bi bi-envelope bi-login-icon"></i>
          Send me reset password instructions
        <% end %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <p class="copyright-text mt-5 mb-3 text-muted">&copy; Codefun 2022</p>
</main>
